
@media only screen and (max-width: 1920px) {

}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 980px) {
.skillset {padding: 20px;}
.skill-lockup{max-width: 700px;width: 100%;float: none;margin: 0 auto;}
.skill-bar {max-width: 700px;width: 100%;}
	.navbar-nav > li > a{padding:0 9px;}
		.about-item-hover{display:block; position:relative; top:0; margin-top:15px;}
	.aboutItem{height:auto; min-height: 200px;}
	.about-item-hover h3{display:none;}
	.aboutItem:hover > .about-item {display: block;}
.aboutItem:hover > .about-item-hover {display: block;}
.service-item p{font-size:12px;}
.client-section .owl-carousel{width:100%;}
.client-section .section-header{float:none; margin:0 auto 75px;}
}
@media only screen and (max-width: 853px) {
}
@media only screen and (max-width: 768px) {

	.banner-text-animate h2{font-size:35px;}
	.skillset{padding:0;}
	.about-item-hover{display:block; position:relative; top:0; margin-top:15px;}
	.aboutItem{height:auto;}
	.about-item-hover h3{display:none;}
	.aboutItem:hover > .about-item {display: block;}
.aboutItem:hover > .about-item-hover {display: block;}
.section-header p{letter-spacing:7px;}
.section-header h3{font-size:30px;}
.portfolio-button .filter-button{margin:0 6px;}
.with-nav-tabs.panel-default .nav-tabs > li > a > span{display:none;}
.process-content p{text-align:justify;}
.client-section .section-header{margin:0 auto; float:none;}
.client-section .owl-carousel{width:100%; margin-top:25px;}
.owl-item .item img{display:table; margin:0 auto;}
.blog-item{margin-bottom:20px;}
#contact .col-xs-offset-1{margin-left:0px;}
.footer-social li{ margin:60px 12px 0; }
}
@media only screen and (max-width: 640px) {
	.section-header h3::before, .section-header h3::after{background:none; left:0; richness:0; top:0; bottom:0; position:relative; widows:0; height:0;}
	.blog-header{width:100%; text-align:center; margin-bottom:25px;}
	.sidebar{margin-top:40px;}
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 360px) {
	.banner-text-animate h2{font-size:25px;}
	.skillset{padding:0;}
	.about-item-hover{display:block; position:relative; top:0; margin-top:15px;}
	.aboutItem{height:auto;}
	.about-item-hover h3{display:none;}
	.aboutItem:hover > .about-item {display: block;}
.aboutItem:hover > .about-item-hover {display: block;}
.section-header p{letter-spacing:7px;}
.section-header h3{font-size:30px;}
.portfolio-button .filter-button{margin:0 6px;}
.with-nav-tabs.panel-default .nav-tabs > li > a > span{display:none;}
.process-content p{text-align:justify;}
.client-section .section-header{margin:0 auto; float:none;}
.client-section .owl-carousel{width:100%; margin-top:25px;}
.owl-item .item img{display:table; margin:0 auto;}
.blog-item{margin-bottom:20px;}
#contact .col-xs-offset-1{margin-left:0px;}
.footer-social li{ margin:60px 12px 0; }
}
